* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #212121;
}



h1 {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}

.text {
  font-family: "Roboto Mono";
  color: #bfbfbf;
  text-decoration: none;
}

.nav-bar{
  width:100%;
  justify-content: space-around;
  display:flex;
  flex-direction: row;
  padding: 10px
}

.nav {

  font-weight: bold;
  font-size: 20px;
}

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
