* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #161616;
}



h1 {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}

.text {
  font-family: "Poppins";
  color: #bfbfbf;
  text-decoration: none;
}


.header-container {
  width: 100%;
  display: flex;
  position:relative;

} 

.nav-bar{
  width: 30%;
  position: relative;
  display: flex;
  right:0;
  justify-content: space-around;
  flex-direction: row;
  padding: 10px;
  margin-left: auto;
}

.nav {
  font-weight: bold;
  font-size: 20px;
  transition: color 0.5s ease-in-out;
}

.nav:hover { 
  color: yellow;

}

.nav.router-link-exact-active {
  opacity: 0.5;
  cursor: default;
}

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
